.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}
#posts__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
